# Frontend dependencies and build outputs
/frontend/node_modules
/frontend/dist
/frontend/.vite/
frontend/.env.production
frontend/.env.development

# Backend dependencies and cache
/backend/myenv/
/backend/.venv/
/backend/__pycache__/
/backend/uv-installed.txt
backend/.env
backend/test/

#large files
/backend/Models/
*.pyc
