# Frontend dependencies and build outputs
/frontend/node_modules
/frontend/dist
/frontend/.vite/
/frontend/.env/

# Backend dependencies and cache
/backend/myenv/
/backend/.venv/
/backend/__pycache__/
/backend/uv-installed.txt

#large files
/backend/Models/
*.pyc
